@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #0e0e0e;
}

/* Header */

header {
  background-color: #1f2937;
  color: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

/* Header top */

.header-top {
  font-size: 18px;
  color: #e5e6eb;
  display: flex;
  justify-content: space-between;
  margin: 10px 350px;
}

.header-top h3 {
  font-size: 24px;
  font-weight: bold;
}

h3 span {
  color: #629cfa;
}

a {
  text-decoration: none;
  color: #95a3b6;
  font-weight: 400;
  font-size: 14px;
}

.header-top ul {
  display: flex;
  gap: 15px;
}

main {
  background-color: #fff;
}

/* Header main */

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 350px 120px;
  gap: 30px
}

.header-main-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 430px;
  gap: 10px
}

.header-main-text h1 {
  font-size: 48px;
  font-weight: bold;
}

.header-main-text p {
  color: #b9bfc7;
  font-size: 18px;
}

.header-main img {
  background-color: #6d747d;
  border-radius: 10px;
  width: 400px;
  height: 266px;
  flex-shrink: 1;
}

.header-main button {
  color: #f9fafb;
  font-weight: bold;
  background-color: #3882f6;
  border: none;
  border-radius: 10px;
  padding: 8px 35px;
}

.header-main button:hover {
  background-color: #f9fafb;
  color: #3882f6;
}

/* Main top */

.main-top {
  padding: 50px 150px 100px;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.main-top h3 {
  font-size: 36px;
  font-weight: 900;
  color:#1f2937;
}

.main-top-cards {
  display: flex;
  align-items: stretch;
  gap: 45px;
}

.main-top-card {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  gap: 5px;
  font-size: 14px;
  text-align: center;
}

.main-top-card img {
  border-radius: 10px;
  width: 160px;
  height: 160px;
}

/* Main middle */

.main-middle {
  background-color: #e5e7eb;
  padding: 100px 210px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-middle blockquote {
  font-size: 34px;
  font-style: italic;
  font-weight: 300;
  text-align: left;
  max-width: 800px;
  min-width: 400px;
}

.main-middle figcaption {
  font-weight: bold;
  text-align: right;
  margin-top: 30px;
  font-size: 18px;
}

/* Main bottom  */

.main-bottom {
  padding: 80px 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-bottom-card {
  background-color: #3882f6;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 80px;
  color: #e5e7eb;
  max-width: 950px;
  min-width: 400px;
  flex: 1 1 auto;
}

.main-bottom-card-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.main-bottom-card h4 {
  color: #fff;
  font-weight: bold;
}

.main-bottom-card button {
  color: #fff;
  background-color: #3882f6;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 1px 30px;
}

.main-bottom-card button:hover {
  background-color: #f9fafb;
  color: #3882f6;
}

/* Footer */

footer {
  background-color: #1f2937;
  color: #e5e6eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h3 {
  padding: 50px;
}



